body {
	padding: 16px;
	margin: 16px;
}

@media (min-width: 1100px) {
	.container-lg {
		width: 1100px !important;
	}
}

@media (min-width: 1200px) {
	.container-xl {
		width: 1200px !important;
	}
}

.logo {
	display: flex;
	flex-direction: row;
}

.logo img {
	width: 30px;
	height: 30px;
	top: 12px;
}

.logo h1 {
	text-decoration: none !important;
	color: black;
}

.search input {
	border-radius: 50px;
	width: 70%;
	margin: auto;
	border-left: none;
}

.search .input-group-text {
	border-radius: 50px 0 0 50px;
	border: 1px 50px;
}

.fo1-link {
	color: var(--primaryText) !important;
	text-decoration: none;
}

.fo1-link:hover {
	text-decoration: underline;
	color: rgb(0, 0, 0) !important;
}

.fo3-link {
	color: black !important;
}

.fo3-link:hover {
	color: rgb(72, 72, 72) !important;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.container-fluid {
	background-color: rgb(255, 255, 255);
	height: 100vh;
	width: 100%;
}

.row {
	height: 100%;
	margin: 0;
}
.Rightside img {
	object-fit: cover;
	aspect-ratio: 1 /1;
	/* background-image: url("../Assets/images/Reg1.jpg"); */
	/* background-size: cover; */
}

.Rightside {
	height: 100vh;
}
.Leftside {
	align-items: center;
}
.btn-yellow {
	background-color: #ffc107 !important;
	color: black !important;
}

.btn-yellow:hover {
	background-color: #e7b110 !important;
}
input:invalid {
	border-color: #dc3545;
}
.back-ground {
	background-image: url('../Assets/images/log.jpg');
	background-size: cover;
	background-position: center;
}
.back-ground .login {
	width: 50%;
	box-shadow: 0 0 25px 3px rgba(255, 255, 255, 0.25);
	transform: translate(-50%, -50%);
	animation-name: move_login;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
}
.blur {
	backdrop-filter: blur(5px);
	z-index: -1;
}

@keyframes move_login {
	0% {
		transform: translate(-50%, -70%);
	}
	25% {
		transform: translate(-50%, -40%);
	}

	50% {
		transform: translate(-50%, -55%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 768px) {
	.back-ground .login {
		width: 90%;
	}
}
@media (max-width: 992px) {
	.back-ground .login {
		width: 80%;
	}
}
