body {
	padding: 16px;
	margin: 16px;
}

@media (min-width: 1100px) {
	.container-lg {
		width: 1100px !important;
	}
}

@media (min-width: 1200px) {
	.container-xl {
		width: 1200px !important;
	}
}

.logo {
	display: flex;
	flex-direction: row;
}

.logo img {
	width: 30px;
	height: 30px;
	top: 12px;
}

.logo h1 {
	text-decoration: none !important;
	color: black;
}

.search input {
	border-radius: 50px;
	width: 70%;
	margin: auto;
	border-left: none;
}

.search .input-group-text {
	border-radius: 50px 0 0 50px;
	border: 1px 50px;
}

.fo1-link {
	color: var(--primaryText) !important;
	text-decoration: none;
}

.fo1-link:hover {
	text-decoration: underline;
	color: rgb(0, 0, 0) !important;
}

.fo3-link {
	color: black !important;
}

.fo3-link:hover {
	color: rgb(72, 72, 72) !important;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.container-fluid {
	background-color: rgb(255, 255, 255);
	height: 100vh;
	width: 100%;
}

.row {
	height: 100%;
	margin: 0;
}
.Rightside img {
	object-fit: cover;
	height: 100%;
}
.Rightside {
	height: 100vh;
}
.Leftside {
	align-items: center;
}
.submit-btn {
	background-color: var(--red);
	color: black !important;
}

.btn-yellow:hover {
	background-color: #e7b110 !important;
}
